@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,900;1,400;1,800&display=swap");

body {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  /* background: linear-gradient(280.67deg, #FFFFFF 39.65%, rgba(255, 255, 255, 0) 87.46%), #C9E2FF; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

$color-pallete-1: #407bff;
$color-pallete-2: #5e5e5e;
$color-pallete-white: #fff;

@mixin margin-width($width: 80%, $margin: 0 auto) {
  width: $width;
  margin: $margin;
}
