@import "../styles/global.scss";

.landingSection {
  @include margin-width($margin: 3rem auto 0);
  width: 80%;
  height: 80vh;
  // margin: 3rem auto 0;
  display: flex;
  justify-content: space-between;

  &__text {
    width: 55%;
    h2 {
      font-weight: bold;
      font-size: 2.8rem;
      line-height: 3.4rem;
      margin-bottom: 0;
    }

    h3 {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 29px;
      margin: 0.9rem 0 3rem;
    }
  }

  &__link {
    padding: 1.3rem 2rem;
    text-decoration: none;
    color: white;
    background: $color-pallete-1;
    border-radius: 51px;
  }
}

.sampleSection {
  @include margin-width($margin: 0 auto 10.25rem);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2.75rem;

  &__title {
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    line-height: 29px;
    color: $color-pallete-1;
  }

  &__textarea {
    width: 80%;
    height: 286px;
    font-weight: bold;
    font-size: 26px;
    line-height: 37px;
    background: #ffffff;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.06);
    border: none;
    border-radius: 25px;
    padding: 1.125rem 10%;

    &:focus {
      outline: none;
    }
  }
}
