@import "../styles/global.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 2.5rem 0;

  &__logo {
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 2.7rem;
    text-decoration: none;
    color: $color-pallete-1;
  }

  &__navList {
    display: flex;
    padding: 0;

    li {
      list-style-type: none;
      &:not(:last-child) {
        margin-right: 2.75rem;
      }
      a {
        text-decoration: none;
        font-weight: 600;
        font-size: .75rem;
        line-height: 1.25rem;
        text-transform: capitalize;
        color: $color-pallete-1;
      }
    }
  }
}
